@model MovieReviewWebsite.Models.Person
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Details</h2>
<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.personName)
        </dd>
        <dt>
            Surname
        </dt>
        <dd>
            @Html.DisplayFor(model => model.personSurname)
        </dd>
        <dt>
            Date of Birth
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movies)
        </dt>
        <dt>
            @foreach (var item in Model.Movies)
            {
            <dd>
                @Html.ActionLink(item.MovieName + " " + item.Description, "Details", "Movies", new { id = item.MovieID }, null)
            </dd>
        }

            <dt>
                Role
            </dt>
            <dd>
                @Html.DisplayFor(model => model.personRole)
            </dd>
            <dt>Comment</dt>

            <dd>
                @foreach (var item in Model.Comment)
                {


                    if (item.PersonID == Model.personID)
                    {


                        @Html.DisplayFor(Model => item.Content)

                        <nbsp style="font-size:8px"> -post by ID @Html.DisplayFor(Model => item.AuthorID)</nbsp>
                        if (ViewBag.UserId != "")
                        {
                            @Html.ActionLink("Reply", "CommentReply", new { id = item.MovieID, commentID = item.CommentID }, null)


                            if (ViewBag.UserId == "abc@gmail.com")
                            {

                                @Html.ActionLink("DeleteComment", "DeleteComment", new { id = item.CommentID, movieID = item.MovieID })

                                <nbsp> | </nbsp>

                                @*@Html.ActionLink("Ban this user or change content", "BanUser", new { id = item.CommentID })*@
                                @*@RedirectToAction("Details/" + id)*@
                                @*@RedirectResult("~/Movies/BanUser/", item.CommentID);*@
                                @*@Html.ActionLink("Ban this user or change content", "~/~/Movies/BanUser/", new { id = item.CommentID });*@

                                @Html.ActionLink("Ban this user or change content", "BanUser/"+item.CommentID, "movies");



                            }

                        }
                        <br />

                    }
                    if (item.CommentReply != null)
                    {
                        foreach (var reply in item.CommentReply)
                        {

                            <nbsp> -----  </nbsp>

                            @Html.DisplayFor(model => reply.Content);

                            <nbsp style="font-size:8px"> -post by ID @Html.DisplayFor(Model => reply.AuthorID)</nbsp>


                            <br />
                        }
                        <br />

                    }



                }




            </dd>
            <br />
            <br />
            <br />
            <br />
            <br />

            <dt>

                New Comment
            </dt>
            <dd>
                @if (ViewBag.UserId != "")
                {
                    using (Html.BeginForm())
                    {

                        bool isUserBanned = false;
                        foreach (var item in Model.Comment)
                        {
                            if (item.isBlocked)
                            {
                                if (item.AuthorID == User.Identity.Name)
                                {
                                    isUserBanned = true;
                                    //return;

                                }
                            }
                        }
                        if (isUserBanned)
                        {
                            <h2>you are banned</h2>
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.personID, new { style = "display: none;" })
                            @Html.TextArea("NewComment", "");
                            <input type="submit" value="send" />
                        }

                    }
                }
                else
                {
                    <h2>Please log in first</h2>
                }







            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.personID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>