@model IEnumerable<MovieReviewWebsite.Models.Person>

@{
    ViewBag.Title = "People";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Actors&Directors</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            
            Name

        </th>
            
        <th>
            Role
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>

            @Html.ActionLink(item.personName + " " + item.personSurname, "Details", "People", new { id = item.personID }, null)

        </td>


        <td>
            @Html.DisplayFor(modelItem => item.personRole)
        </td>
        <td>
            @if (ViewBag.UserId != "")
            {

                if (ViewBag.UserId == "abc@gmail.com" || ViewBag.UserId == item.User.ToString())//admin
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.personID }) 
                    <nbsp> | </nbsp>
                    @Html.ActionLink("Edit", "Edit", new { id = item.personID })
                }

            }

        </td>
    </tr>
}

</table>
