@model MovieReviewWebsite.Models.Forum

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>


<h2>Details</h2>

<div>
    <h4>Forum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <br />
        <br />
        <br />
        <br />
        <dt>Comment</dt>

        @foreach (var item in Model.Comment)
        {
            <dd>
                @if (item.PostID == Model.PostID)
                {


                    @Html.DisplayFor(Model => item.Content)
                    <nbsp style="font-size:8px"> -post by ID @Html.DisplayFor(Model => item.AuthorID)</nbsp>

                    if (ViewBag.UserId != "")
                    {
                        @Html.ActionLink("Reply", "CommentReply", new { id = item.PostID, commentID = item.CommentID }, null)


                        if (ViewBag.UserId == "abc@gmail.com")
                        {

                            @Html.ActionLink("DeleteComment", "DeleteComment", new { id = item.CommentID, movieID = item.MovieID })

                            <nbsp> | </nbsp>

                            @Html.ActionLink("Ban this user or change content", "BanUser/" + item.CommentID, "movies");

                        }

                    }

                }
                @if (item.CommentReply != null)
                {
                    foreach (var reply in item.CommentReply)
                    {
                        <br />
                        @Html.DisplayFor(model => reply.Content);

                    }
                }
            </dd>
            <br />
        }
        <br />
        <br />
        <br />
        <br />
        <br />
        <dt>

            New Comment
        </dt>
        <dd>
            @if (ViewBag.UserId != "")
            {
                using (Html.BeginForm())
                {

                    bool isUserBanned = false;
                    foreach (var item in Model.Comment)
                    {
                        if (item.isBlocked)
                        {
                            if (item.AuthorID == User.Identity.Name)
                            {
                                isUserBanned = true;
                                //return;

                            }
                        }
                    }
                    if (isUserBanned)
                    {
                        <h2>you are banned</h2>
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.PostID, new { style = "display: none;" })
                        @Html.TextArea("NewComment", "");
                        <input type="submit" value="send" />
                    }


                }
            }

            else
            {
                <h2>Please log in first</h2>
            }






        </dd>



    </dl>
</div>
<p>


    @Html.ActionLink("Back to List", "Index")
</p>
</body>
</html>