@model MovieReviewWebsite.Models.Forum

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>


<h2>Details</h2>

<div>
    <h4>Forum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <br />
        <br />
        <br />
        <br />
        <dt>Comment</dt>

        @foreach (var item in Model.Comment)
        {
            <dd>
                @if (item.PostID == Model.PostID)
                {


                    <nbsp style="font-size:8px"> -post by ID @Html.DisplayFor(Model => item.PersonID)</nbsp>
                    @Html.DisplayFor(Model => item.Content)
                    @Html.ActionLink("Reply", "CommentReply", new { id = item.PersonID, commentID = item.CommentID }, null)

                }
                @if (item.CommentReply != null)
                {
                    foreach (var reply in item.CommentReply)
                    {
                        <br />
                        @Html.DisplayFor(model => reply.Content);

                    }
                }
            </dd>
            <br />
        }
        <dt>

            New Comment
        </dt>
        <dd>
            @if (ViewBag.UserId != null)
            {
                using (Html.BeginForm())
                {


                    @Html.TextBoxFor(model => model.PostID, new { style = "display: none;" })
                    @Html.TextArea("NewComment", "");


                    <input type="submit" value="send" />

                }
            }
            else
            {
                <h2>Please log in first</h2>
            }



        </dd>



    </dl>
</div>
<p>


    @Html.ActionLink("Back to List", "Index")
</p>
