@model MovieReviewWebsite.Models.Forum

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Forum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <br />
        <br />
        <br />
        <br />
        <dt>Comment</dt>

        @foreach (var item in Model.Comment)
        {
            <dd>
            @if (item.PostID == Model.PostID)
            {
               
                 
                    <nbsp style="font-size:8px"> -post by ID @Html.DisplayFor(Model => item.PersonID)</nbsp>
                    @Html.DisplayFor(Model => item.Content)
                    @Html.ActionLink("Reply", "CommentReply", new { id = item.PersonID, commentID = item.CommentID }, null)
                
            }
            @if (item.CommentReply != null)
            {
                foreach (var reply in item.CommentReply)
                {
                    <br />
                    @Html.DisplayFor(model => reply.Content);

                }
            }
            </dd>
            <br />
        }
        <dd>
            @using (Html.BeginForm())
            {

                @Html.TextBoxFor(model => model.PostID, new { style = "display: none;" })


                @Html.TextArea("Comment", "")

                <input type="submit" value="send" />


            }
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PostID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
