@model IEnumerable<MovieReviewWebsite.Models.Forum>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forum</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PersonID)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Title)*@
            @Html.ActionLink(item.Title, "Details", new { id = item.PostID })

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>

        <td>
            @if (ViewBag.UserId != null)
            {
                if (ViewBag.UserId == item.User)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.PostID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.PostID })
                }
            }
                </td>
    </tr>
}

</table>
