@model MovieReviewWebsite.Models.Movie

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

    <div>
        <h4>Movie</h4>
        <hr />
        <dl class="dl-horizontal">


            <dt>
                Category
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoryName)
            </dd>

            <dt>
                Movie
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MovieName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rating)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rating)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.People)
            </dt>


            <dt>
                @foreach (var item in Model.People)
                {
                <dd>

                    @Html.ActionLink(item.personName + " " + item.personSurname, "Details", "People", new { id = item.personID }, null)

                </dd>
            }
                </dt>
                <br />
                <br />
                <br />
                <br />


                <dt>Comment</dt>

                @foreach (var item in Model.Comment)
                {
                    if (item.MovieID == Model.MovieID)
                    {
                        <nbsp style="font-size:8px"> -post by ID @Html.DisplayFor(Model => item.PersonID)</nbsp>
                        @Html.DisplayFor(Model => item.Content)
                        @Html.ActionLink("Reply", "CommentReply", new { id = item.PersonID, commentID = item.CommentID }, null)
                    }

                    if (item.CommentReply != null)
                    {
                        foreach (var reply in item.CommentReply)
                        {
                            <br />
                            @Html.DisplayFor(model => reply.Content);

                        }
                    }
                }

                <dd>
                    @using (Html.BeginForm())
                    {

                        @Html.TextBoxFor(model => model.MovieID, new { style = "display: none;" })
                        @Html.TextArea("Comment", "");
                        <input type="submit" value="send" />
                    }
                </dd>

            </dl>
    </div>
    <p>

        @Html.ActionLink("Back to List", "Index")
    </p>


