@model IEnumerable<MovieReviewWebsite.Models.Movie>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form action="Movies" >
        <select name="CategoryName">
            <option value="Any">Any</option>
            <option value="Horror">Horror</option>
            <option value="Comedy">Comedy</option>
            <option value="Action">Action</option>
            <option value="Romance">Romance</option>


        </select>
        <br />
        <select name="Rating">
            <option value="Best">Best</option>
            <option value="Worst">Worst</option>
        </select>
        <input type="submit" />
        <br />
    </form>
   
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Category
            </th>
            <th>
                Movie
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
        
        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.ActionLink(item.MovieName, "Details", new { id = item.MovieID })

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MovieID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MovieID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MovieID })
                </td>
            </tr>
        }

    </table>
</body>
</html>
