@model MovieReviewWebsite.Models.Person
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Top 10 movies</h1>
    <p class="lead">Movies displayed based on average user rating</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <dt>
        Name
    </dt>
    <dd>
        @Html.DisplayFor(model => model.personName)
    </dd>
    <dt>
        Surname
    </dt>
    <dd>
        @Html.DisplayFor(model => model.personSurname)
    </dd>
    <dt>
        Date of Birth
    </dt>
    <dd>
        @Html.DisplayFor(model => model.dateOfBirth)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Movies)
    </dt>
    <dt>
        @*@foreach (var item in Model.Movies)
        {
            <dd>
                @Html.ActionLink(item.MovieName + " " + item.Description, "Details", "Movies", new { id = item.MovieID }, null)
            </dd>
        }*@
</div>