@model MovieReviewWebsite.Models.Forum

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Forum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postAuthorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postAuthorID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.postID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
